.has-error {
  border-color: red;
}

.multi-input > * {
  margin-bottom: 0.4em;
}

.single-input {
  /* display: flex; */
  width: fit-content;
  padding: 0.3em;
  border-radius: 0.4em;
  background-color: gainsboro;
  cursor: pointer;
}

.single-input > * > * > *:not(:first-child), .single-input > *:not(:first-child) {
  margin-left: 0.4em;
}

/* * > *:not(:first-child) {
  margin-left: 0.4em;
} */

.common-element {
  background-color: gainsboro;
  border-radius: 0.4em;
  padding: 0.4em;
  width: fit-content;
}

input[type=button] {
  background-color: gainsboro;
  border-radius: 0.4em;
}

.single-input input.text {
  font-family: monospace;
  resize: both;
  border-radius: 0.4em;
}

.single-input .constraint {
  margin-left: 0.4em;
}

.single-input .constraint.updating {
  opacity: 0.3;
}

.single-input .close {
  background-color:pink;
  border-radius: 0.4em;
}

.single-input .newline {
  background-color:palegreen;
  border-radius: 0.4em;
}

.single-input.focused {
  background-color:skyblue;
}

.single-input input[type=button].info {
  background-color: gainsboro;
  border-radius: 0.4em;
}

.error {
  color: red;
}

input[type=button].generate {
  background-color: gainsboro;
  border-radius: 0.4em;
}

input[type=button].options {
  background-color: gainsboro;
  border-radius: 0.4em;
  margin-left: 0.4em;
}

.model-container table {
  margin-top: 0.4em;
  border-collapse: collapse;
  border: solid black;
  border-radius: 0.4em;
}

.model-container table thead th {
  /* border: solid black; */
  border-bottom: solid black;
  padding: 0.2em;
}

.model-container table tbody tr {
  border: solid black;
}

.model-container table tbody tr td {
  /* border: solid black; */
  text-align: center;
  padding: 0.2em;
}

.model-container table tr .dv {
  border-right: solid black;
}

.model-finder {
  border-radius: 0.4em;
  margin-top: 0.4em;
  background-color: rgb(240, 240, 240);
  width: fit-content;
  padding: 0.4em;
}

.model-finder.invalidated {
  /* background-color: lightgoldenrodyellow; */
  opacity: 0.5;
}

.button-line {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;
}

input::file-selector-button {
  background-color: gainsboro;
  border-radius: 0.4em;
  margin-bottom: 0.4em;
}

.model-evaluators {
  margin-left: 0.8em;
}

.model-input {
  background-color: rgb(240, 240, 240);
  padding: 0.4em;
  width: fit-content;
  border-radius: 0.4em;
}

.info-container {
  /* margin-top: 0.4em; */
}
